.budgetme-features {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.budgetme-features-heading {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;

	text-align: left;
	margin-right: 5rem;
}

.budgetme-features-heading h1 {
	font-size: 34px;
	line-height: 45px;
	font-weight: 800;
	font-family: var(--font-family);
}

.budgetme-features-heading a {
	color: var(--color-subtext);
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	font-family: var(--font-family);

	margin-top: 2rem;
}

.budgetme-features-container {
	flex: 1.5;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.budgetme-features-container h1 {
	color: #03a9f4;
}

@media screen and (max-width: 990px) {
	.budgetme-features {
		flex-direction: column;
	}

	.budgetme-features-heading {
		margin: 0 0 2rem 0;
	}
}

@media screen and (max-width: 550px) {
	.budgetme-features-heading h1 {
		font-size: 28px;
		line-height: 38px;
	}
}
