.budgetme-cta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;

	padding: 2rem;
	margin: 6rem;
	border-radius: 1rem;
	background: var(--gradient-bar);
}

.budgetme-cta-content p {
	font-family: var(--font-family);
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 30px;

	color: #fff;
}

.budgetme-cta-content h3 {
	font-family: var(--font-family);
	font-weight: 800;
	font-size: 24px;
	line-height: 45px;
	color: #fff;
}

.budgetme-cta-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2rem;
}

.budgetme-cta-btn button {
	background: #fff;
	border-radius: 40px;

	font-family: var(--font-family);
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: #000000;

	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	min-width: 150px;
	cursor: pointer;
}

@media screen and (max-width: 650px) {
	.budgetme-cta {
		flex-direction: column;
	}
	.budgetme-cta-btn {
		margin: 2rem 0 0;
	}
}

@media screen and (max-width: 550px) {
	.budgetme-cta {
		margin: 4rem 2rem;
	}

	.budgetme-cta-content h3 {
		font-size: 18px;
		line-height: 32px;
	}

	.budgetme-cta-btn button {
		font-size: 14px;
		line-height: 28px;
	}
}
