* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	background: var(--color-bg);
}

a {
	color: unset;
	text-decoration: none;
}

.gradient-bg {
	background-color: #fff;
	background: radial-gradient(
		circle at 3% 25%,
		#fee2f8 0%,
		#dcf8ef 20%,
		#fff 45%
	);
}

.gradient-text {
	background: var(--gradient-text);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section-padding {
	padding: 4rem 6rem;
}

.section-margin {
	margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
		both;
	animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@media screen and (max-width: 700px) {
	.section-padding {
		padding: 4rem;
	}

	.section-margin {
		margin: 4rem;
	}
}

@media screen and (max-width: 550px) {
	.section-padding {
		padding: 4rem 2rem;
	}

	.section-margin {
		margin: 4rem 2rem;
	}
}
